.boxgym {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;

}

body {

    background-color: #000;

}

#headerPageGym {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: top;
    width: 100%;
    margin-top: 0%;

}

.imagen {
    background-image: url(../img.p/fotomujer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

.title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;

}

.boxClases {
    position: absolute;
    top: 500px;
    left: 80px;
    margin: 0%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    :hover {
        transform: rotateY(180deg);
    }



}

/*  div con movimientos con horarios */


.txtBoxCard {
    font-size: 25px;
    font-weight: 600;
}

.txt2boxCard {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 5px;

}

.boxCard {
    margin: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    text-align: center;
/**/
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
    transform-style: preserve-3d;


}
/*para que el texto no se de vuelta */
.boxClases p {
    transform: rotateY(0deg) !important;
}

.frente,
.dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    /*para que se vea el contenido del box*/
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.dorso {
    background-color: #4b33a3;
    color: #faebd7;
    /*rotate en y */
    transform: rotateY(180deg);
    text-align: center;
    cursor: pointer;
}

.dorso p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}
.frente {
    background-color: #4b33a8;
    color: #FFF;
}


/* termina tarjeta */


.imgGif {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-top: 30px;
}

.textTitleGym {
    color: #292929;
    /* background-color: black; */
    /* width: 200px; */
    display: flex;


}

.buttonInscripcion {
    padding: 12px;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    color: #FFF;
    background-color: #4b33a8;
    border: 0px;
    cursor: pointer;
}

.boxInfo {
    background-color: rgba(192, 192, 192, 0.8);
    opacity: 1;
    border-radius: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    padding-bottom: 30px;

}

.imggym {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.gymimagen {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.list {
    font-size: 18px;
    font-weight: 400;
}

.CenterPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    background-image: url(../img.p/fondoGym.jpg);

}

.boxInscripcion {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1818;
    opacity: 0.9;
    height: 300px;
    padding: 20px;
    width: 700px;
}

.boxMaps {
    width: 500px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}



/* boton whasapp*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}